# NODE_ENV=production
# PRODUCTION=true
# PORT=4000
# APP_NAME=sam-global-ecommerce
# API_PREFIX=/api/v1
# PUBLIC_API_BASE_URL=https://<API_DOMAIN>

# CORS_ORIGIN=https://<CUSTOMER_DOMAIN>,https://www.<CUSTOMER_DOMAIN>,https://<ADMIN_DOMAIN>,https://<SELLER_DOMAIN>
# SOCKET_CORS_ORIGIN=https://<CUSTOMER_DOMAIN>,https://www.<CUSTOMER_DOMAIN>,https://<ADMIN_DOMAIN>,https://<SELLER_DOMAIN>

# MONGO_URI=mongodb://ecommerce_app:<MONGO_APP_PASSWORD>@127.0.0.1:27017/ecommerce?authSource=ecommerce
# POSTGRES_URL=postgresql://ecommerce_app:<POSTGRES_APP_PASSWORD>@127.0.0.1:5432/ecommerce
# REDIS_URL=redis://:<REDIS_PASSWORD>@127.0.0.1:6379/0
# ELASTICSEARCH_NODE=http://127.0.0.1:9200
# ENABLE_ELASTICSEARCH=true

# JWT_ACCESS_SECRET=<JWT_ACCESS_SECRET>
# JWT_REFRESH_SECRET=<JWT_REFRESH_SECRET>
# JWT_ACCESS_TTL=15m
# JWT_REFRESH_TTL=7d

# BUSINESS_STATE=KARNATAKA
# GSTIN_MARKETPLACE=
# REFERRAL_REFERRER_BONUS=100
# REFERRAL_REFEREE_BONUS=50
# MAX_WALLET_USAGE_PER_ORDER_PERCENT=30

# EMAIL_HOST=<SMTP_HOST>
# EMAIL_PORT=587
# EMAIL_SECURE=false
# EMAIL_USER=<SMTP_USER>
# EMAIL_PASS=<SMTP_PASSWORD>
# EMAIL_FROM=no-reply@<CUSTOMER_DOMAIN>
# DEFAULT_FROM_EMAIL=no-reply@<CUSTOMER_DOMAIN>
# ENABLE_LIVE_EMAIL=true
# ENABLE_EMAIL_MOCK=false

# CLOUDINARY_CLOUD_NAME=<CLOUDINARY_NAME>
# CLOUDINARY_API_KEY=<CLOUDINARY_KEY>
# CLOUDINARY_API_SECRET=<CLOUDINARY_SECRET>
# ENABLE_CLOUDINARY=true
# ENABLE_LOCAL_UPLOAD_STORAGE=false

# GOOGLE_CLIENT_IDS=
# FIREBASE_PROJECT_ID=
# FIREBASE_CLIENT_EMAIL=
# FIREBASE_PRIVATE_KEY=
# ENABLE_LIVE_SOCIAL_AUTH=true
# ENABLE_STATIC_SOCIAL_AUTH=false

# RAZORPAY_KEY_ID=
# RAZORPAY_KEY_SECRET=
# RAZORPAY_WEBHOOK_SECRET=
# DELIVERY_WEBHOOK_SECRET=
# REQUIRE_DELIVERY_WEBHOOK_SIGNATURE=false
# ENABLE_LIVE_RAZORPAY=true
# ENABLE_RAZORPAY_MOCK=false
# RAZORPAY_MOCK_AUTO_CAPTURE=true

# JSON_BODY_LIMIT=50mb
# MAX_DOCUMENT_UPLOAD_BYTES=52428800
# ENABLE_CRON=true

# # Do not enable static OTP in production unless there is a planned temporary support reason.
# # STATIC_OTP=
# ENABLE_LIVE_OTP=true
# ENABLE_STATIC_OTP=false
# EXPOSE_STATIC_OTP=false

# # Testing/staging without third-party services:
# # PRODUCTION=false
# # ENABLE_LIVE_EMAIL=false
# # ENABLE_EMAIL_MOCK=true
# # ENABLE_LIVE_OTP=false
# # ENABLE_STATIC_OTP=true
# # EXPOSE_STATIC_OTP=true
# # ENABLE_ELASTICSEARCH=false
# # ENABLE_LIVE_RAZORPAY=false
# # ENABLE_RAZORPAY_MOCK=true
# # ENABLE_CLOUDINARY=false
# # ENABLE_LOCAL_UPLOAD_STORAGE=true
# # ENABLE_LIVE_SOCIAL_AUTH=false
# # ENABLE_STATIC_SOCIAL_AUTH=true

// Example .env file for development environment

NODE_ENV=development
PORT=4000
APP_NAME=ecommerce
API_PREFIX=/api/v1
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
MONGO_URI=mongodb://0.0.0.0:27017/ecommerce
# MONGO_URI=mongodb+srv://directsamglobal_db_user:yuOXukv7FdXUPMVx@cluster0.okeujck.mongodb.net/sam_global?retryWrites=true&w=majority&appName=Cluster0
# MONGO_URI=mongodb+srv://directsamglobal_db_user:yuOXukv7FdXUPMVx@cluster0.okeujck.mongodb.net/sam_global?retryWrites=true&w=majority&appName=Cluster0
POSTGRES_URL=postgresql://postgres:1234@localhost:5432/ecommerce
# POSTGRES_URL=postgresql://neondb_owner:npg_A4aEzTG0Whqd@ep-summer-boat-aoecneoe-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
REDIS_URL=redis://localhost:6379
# REDIS_URL=rediss://default:gQAAAAAAAfdPAAIgcDFlMWI5ODYyYTMwMjk0NGNmYTVkNGJkMTExMDlkNTI3ZA@magnetic-ferret-128847.upstash.io:6379
ELASTICSEARCH_NODE=http://localhost:9200
CLOUDINARY_CLOUD_NAME=dra3iqxvf
CLOUDINARY_API_KEY=446631858232448
CLOUDINARY_API_SECRET=68bTNWlG0dRXjZw7ghFuN_rlG5o
ENABLE_CLOUDINARY=true
ENABLE_LOCAL_UPLOAD_STORAGE=false
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
DEFAULT_FROM_EMAIL=no-reply@example.com
ENABLE_CRON=true
PRODUCTION=false
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=noreply.horseshipt2026@gmail.com
EMAIL_PASS=mywqtbdaewjhgvfa
EMAIL_FROM="Horse Shipt <noreply.horseshipt2026@gmail.com>"
 


 
